# Name of the Mentor : Angel Mary 
# Date : 02-NOV-24
# Time : 7:30 PM- 8:30 PM IST

# Topic : Python (Functions)

# Python(Loops)
- for (based on seq)
- while (based on condition)
- Both will have else condition - will executed - if the condition fails

In [12]:
# for loop
for i in range(1,10):
    print(i,sep=",", end=",")

1,2,3,4,5,6,7,8,9,

In [13]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

In [14]:
txt="hello world"
for ch in txt:
    print(ch,end="")

hello world

In [15]:
t=(1,2,3,4,5,6,7,8)
for x in t:
    print(x,end=" ")

1 2 3 4 5 6 7 8

In [17]:
d = {"naveen":"Python" , "Kumar":"Java", "Sunil":"C"}
for key,value in d.items():
    print(key,value)

naveen Python
Kumar Java
Sunil C

In [18]:
# While loop
# find the sum of digits of numbers

n = 123
s=0
while(n!=0):
    s+=n%10
    n=n//10
print(s)

6

In [19]:
# reverse of the given no
n = 123
s=0
while(n!=0):
    s= s* 10 +n%10
    n=n//10
print(s)

321

In [21]:
# find the sum of even numbers between two numbers 100 to 200

initial = 100
final = 200
even_sum = 0
while initial < final:
    if initial%2 == 0:
        even_sum += initial
    initial+=1
print(even_sum)

7450

In [23]:
# Write a function find_primes(n) that uses a loop to print all prime numbers up to n
def check_prime(num):
    '''check prime num or not'''
    flag=True
    for j in range(2,num):
        if num%j==0:
            return False
    return flag

def find_primes(n):
    l = []
    for i in range(2,n):
        if check_prime(i):
            l.append(i)
    print(l)
find_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [24]:
# Matrix Transpose Without Using Built-in Functions
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
def reverse_words(txt):
    l = []
    for word in txt.split():
        l.append(word[::-1])
    print(" ".join(l))
reverse_words("Hello World")

olleH dlroW

In [27]:
# count_unique_chars("apple")
txt="apple"
l = { key: txt.count(key) for key in txt }
l

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [29]:
# multiplication_table(5)
# Output:
# 1 2 3 4 5
# 2 4 6 8 10
# 3 6 9 12 15
# 4 8 12 16 20
# 5 10 15 20 25

def multiplication_table(n):
    for i in range(1,n+1):
        for j in range(1,6):
            print(i*j , end=" ")
        print()

multiplication_table(5)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25